.header-container .Navbar {
    height: 120px;
    padding-left: 45px;
}

.todoIcon {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}

.navbar-title {
    position: absolute;
    left: 170px;
    top: 30px;
}